<div>
  <input
    type="password"
    [(ngModel)]="password.value"
    (input)="checkPasswordStrength()"
    placeholder="Enter your password"
  />
</div>

<button (click)="clearPasswordInput()">Clear Input</button>

<div>
  <div class="strength-indicator" [ngClass]="'strength-'+password.strength">

    <div class="strength-section" 
    [ngClass]="{'red-section': (password.strength === 'Easy' || password.strength ==='LessThan8'),
  'yellow-section':password.strength === 'Medium', 'green-section':password.strength === 'Strong'}">
        <div class="strength-message">{{ easyPassMessage }}</div>
    </div>
    <div class="strength-section"
    [ngClass]="{'red-section': password.strength ==='LessThan8','yellow-section':password.strength === 'Medium', 
    'green-section':password.strength === 'Strong'}">
        <div class="strength-message">{{ mediumPassMessage }}</div>
    </div>
    <div class="strength-section"
    [ngClass]="{'red-section': password.strength ==='LessThan8','green-section':password.strength === 'Strong'}">
        <div class="strength-message">{{ strongPassMessage }}</div>
    </div>

  </div>
</div>

