<div>
  <input
    type="password"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
    placeholder="Enter your password"
  />
</div>

<button (click)="clearPasswordInput()">Clear Input</button>

<div>
  <div class="strength-indicator" [ngClass]="'strength-'+passwordStrength">

    <div class="strength-section" [ngClass]="{'active': passwordStrength === 'Easy'}">
        <div class="strength-message">The password is easy</div>
    </div>
    
    <div class="strength-section" [ngClass]="{'active': passwordStrength === 'Medium'}">
        <div class="strength-message">The password is medium</div>
    </div>
    <div class="strength-section" [ngClass]="{'active': passwordStrength === 'Strong'}">
        <div class="strength-message">The password is strong</div>
    </div>
  </div>
</div>
